/* line 5, ../scss/navbar.scss */
.heya-navbar {
  background-color: #227535;
  padding: 0;
}

/* line 10, ../scss/navbar.scss */
.heya-navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  color: #ddd;
  text-decoration: none;
  font-size: 21px;
  padding: 0 2px;
  margin-top: -1px;
}
/* line 21, ../scss/navbar.scss */
.heya-navbar-brand:hover {
  color: white;
}
/* line 25, ../scss/navbar.scss */
.heya-navbar-brand:hover .heya-logo {
  color: white;
}

/* line 30, ../scss/navbar.scss */
.heya-logo {
  color: #ddd;
  font-size: 17px;
}

/* line 35, ../scss/navbar.scss */
.heya-navbar-container {
  margin: 0 auto;
  width: 960px;
  padding: 7px;
}

/* line 41, ../scss/navbar.scss */
.heya-navbar-btn {
  height: 31px;
  font-size: 14px;
  padding: 4px 12px;
  background-color: #227535;
  border-color: transparent;
  color: #ddd;
}
/* line 49, ../scss/navbar.scss */
.heya-navbar-btn:hover {
  background-color: #145a24;
  border-color: transparent;
}

/* line 55, ../scss/navbar.scss */
.heya-navbar-search {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 61, ../scss/navbar.scss */
.heya-search-box {
  height: 31px;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  border-right: 0px;
}

/* line 69, ../scss/navbar.scss */
.heya-search-box:focus {
  border-color: #ced4da;
}

/* line 73, ../scss/navbar.scss */
.heya-search-btn {
  height: 31px;
  background-color: white;
  border: 1px solid #ced4da;
  border-left: none;
  padding: 0 12px;
}
/* line 80, ../scss/navbar.scss */
.heya-search-btn:hover {
  color: #777777;
  background-color: #f3f3f3;
  border: 1px solid #ced4da;
  border-left: none;
}

/* line 88, ../scss/navbar.scss */
.signup-form {
  float: right;
}
