/* line 1, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/common.scss */
input:focus, button:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

/* line 1, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/common.scss */
input:focus, button:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

/* line 7, ../scss/navbar.scss */
.heya-navbar {
  background-color: #227535;
  padding: 0;
}

/* line 12, ../scss/navbar.scss */
.heya-navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  color: #ddd;
  text-decoration: none;
  font-size: 21px;
  padding: 0 2px;
  margin-top: -1px;
}
/* line 23, ../scss/navbar.scss */
.heya-navbar-brand:hover {
  color: white;
}
/* line 27, ../scss/navbar.scss */
.heya-navbar-brand:hover .heya-logo {
  color: white;
}

/* line 32, ../scss/navbar.scss */
.heya-logo {
  color: #ddd;
  font-size: 17px;
}

/* line 37, ../scss/navbar.scss */
.heya-navbar-container {
  margin: 0 auto;
  width: 960px;
  padding: 7px;
}

/* line 43, ../scss/navbar.scss */
.heya-navbar-btn {
  height: 31px;
  font-size: 14px;
  padding: 4px 12px;
  background-color: #227535;
  border-color: transparent;
  color: #ddd;
}
/* line 51, ../scss/navbar.scss */
.heya-navbar-btn:hover {
  background-color: #145a24;
  border-color: transparent;
}

/* line 57, ../scss/navbar.scss */
.heya-navbar-search {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 63, ../scss/navbar.scss */
.input-group .heya-search-box {
  width: 280px;
  height: 31px;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  border-right: 0px;
  background-color: #f5f5f5;
}

/* line 73, ../scss/navbar.scss */
.input-group .heya-search-box:focus {
  border-color: #ced4da;
  background-color: #white;
}

/* line 78, ../scss/navbar.scss */
.input-group .heya-search-btn {
  height: 31px;
  background-color: #f5f5f5;
  border: 1px solid #ced4da;
  border-left: none;
  padding: 0 12px;
}
/* line 85, ../scss/navbar.scss */
.input-group .heya-search-btn:hover {
  color: #777777;
  background-color: #e5e5e5;
  border: 1px solid #ced4da;
  border-left: none;
}

/* line 93, ../scss/navbar.scss */
.signup-form {
  float: right;
}

/* line 4, ../scss/profile.scss */
body {
  background-color: #ececec;
}

/* line 8, ../scss/profile.scss */
.profile-main-container {
  margin: 65px auto 0;
  width: 960px;
  height: auto;
}

/* line 14, ../scss/profile.scss */
.profile-container {
  display: flex;
  flex-direction: column;
  width: 750px;
  border: 1px solid #ccc;
}

/* line 22, ../scss/profile.scss */
.overall-title {
  height: 44px;
  background-color: #ddd;
  padding: 12px 0 10px 12px;
  line-height: 20px;
  font-size: 18px;
}

/* line 31, ../scss/profile.scss */
.overall-title > .profile-icon {
  color: #666;
  margin-right: 5px;
}

/* line 36, ../scss/profile.scss */
.profile-view-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

/* line 43, ../scss/profile.scss */
.profile-menu {
  width: 170px;
  border-right: 1px solid #ccc;
}

/* line 48, ../scss/profile.scss */
.profile-menu > ul {
  margin: 10px 0 10px 0;
  list-style: none;
}

/* line 53, ../scss/profile.scss */
.profile-menu > ul > li {
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  color: gray;
  font-size: 15px;
}
/* line 60, ../scss/profile.scss */
.profile-menu > ul > li:hover {
  background-color: #ddd;
  cursor: pointer;
  color: #333;
}

/* line 67, ../scss/profile.scss */
.profile-panel {
  flex-grow: 1;
}
/* line 70, ../scss/profile.scss */
.profile-panel .save-btn {
  width: 105px;
  height: 25px;
  padding: 0;
  font-size: 13px;
}
/* line 77, ../scss/profile.scss */
.profile-panel .cancel-btn {
  width: 58px;
  height: 26px;
  padding: 0;
  font-size: 13px;
  border-color: #bbb;
}

/* line 86, ../scss/profile.scss */
.profile-basic-panel {
  padding: 15px 0 0 25px;
}
/* line 89, ../scss/profile.scss */
.profile-basic-panel ul.basic-info-display {
  display: block;
  margin: 0;
  list-style: none;
}
/* line 94, ../scss/profile.scss */
.profile-basic-panel ul.basic-info-display li {
  height: 35px;
  line-height: 35px;
}
/* line 98, ../scss/profile.scss */
.profile-basic-panel ul.basic-info-display li .basic-info-icon {
  color: #aaa;
  margin-right: 10px;
}
/* line 103, ../scss/profile.scss */
.profile-basic-panel ul.basic-info-display li .icon-phone {
  margin-right: 16px;
}
/* line 107, ../scss/profile.scss */
.profile-basic-panel ul.basic-info-display li .icon-birth {
  margin-right: 12px;
}
/* line 111, ../scss/profile.scss */
.profile-basic-panel ul.basic-info-display li span {
  font-size: 14px;
  color: #333;
}
/* line 117, ../scss/profile.scss */
.profile-basic-panel ul.basic-info-display .edit-button {
  margin: 15px 0;
  color: #5e5590;
  font-size: 13px;
}
/* line 122, ../scss/profile.scss */
.profile-basic-panel ul.basic-info-display .edit-button:hover {
  cursor: pointer;
  color: #291b79;
  text-decoration: underline;
}
/* line 130, ../scss/profile.scss */
.profile-basic-panel .basic-info-edit {
  display: block;
  font-size: 14px;
}
/* line 134, ../scss/profile.scss */
.profile-basic-panel .basic-info-edit .profile-edit-label {
  margin-right: 10px;
  width: 40px;
}
/* line 139, ../scss/profile.scss */
.profile-basic-panel .basic-info-edit .profile-edit-input {
  display: inline-block;
  width: 300px;
  height: 30px;
  padding: 0 7px;
  background-color: #f7f7f7;
  font-size: 13px;
}
/* line 147, ../scss/profile.scss */
.profile-basic-panel .basic-info-edit .profile-edit-input:focus {
  background-color: #fcfcfc;
}
/* line 152, ../scss/profile.scss */
.profile-basic-panel .basic-info-edit .button-box {
  margin-left: 185px;
}
