/* line 5, ../scss/navbar.scss */
.heya-navbar {
  background-color: #227535;
  padding: 0;
}

/* line 10, ../scss/navbar.scss */
.heya-navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  color: #ddd;
  text-decoration: none;
  font-size: 21px;
  padding: 0 2px;
  margin-top: -1px;
}
/* line 21, ../scss/navbar.scss */
.heya-navbar-brand:hover {
  color: white;
}
/* line 25, ../scss/navbar.scss */
.heya-navbar-brand:hover .heya-logo {
  color: white;
}

/* line 30, ../scss/navbar.scss */
.heya-logo {
  color: #ddd;
  font-size: 17px;
}

/* line 35, ../scss/navbar.scss */
.heya-navbar-container {
  margin: 0 auto;
  width: 960px;
  padding: 7px;
}

/* line 41, ../scss/navbar.scss */
.heya-navbar-btn {
  float: right;
  height: 31px;
  font-size: 14px;
  padding: 4px 12px;
  background-color: #227535;
  border-color: transparent;
  color: #ddd;
}
/* line 50, ../scss/navbar.scss */
.heya-navbar-btn:hover {
  background-color: #145a24;
  border-color: transparent;
}

/* line 56, ../scss/navbar.scss */
.heya-navbar-search {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 62, ../scss/navbar.scss */
.heya-search-box {
  height: 31px;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  border-right: 0px;
}

/* line 70, ../scss/navbar.scss */
.heya-search-box:focus {
  border-color: #ced4da;
}

/* line 74, ../scss/navbar.scss */
.heya-search-btn {
  height: 31px;
  background-color: white;
  border: 1px solid #ced4da;
  border-left: none;
  padding: 0 12px;
}
/* line 81, ../scss/navbar.scss */
.heya-search-btn:hover {
  color: #777777;
  background-color: #f3f3f3;
  border: 1px solid #ced4da;
  border-left: none;
}

/* line 3, ../scss/signup.scss */
body {
  background-color: #ececec;
}

/* line 7, ../scss/signup.scss */
input:focus, button:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

/* line 12, ../scss/signup.scss */
.signup-page-main-container {
  display: flex;
  margin: 65px auto 0;
  width: 960px;
  height: auto;
}

/* line 19, ../scss/signup.scss */
.signup-container {
  width: 550px;
  padding: 15px;
  background-color: #e2e2e2;
  border-radius: 5px;
  border: 1px solid transparent;
}

/* line 27, ../scss/signup.scss */
.heya-signup-input {
  display: inline-block;
  width: 450px;
  background-color: #fdfdfd;
}

/* line 33, ../scss/signup.scss */
.signup-input-check {
  display: none;
  margin-left: 2px;
  color: green;
}

/* line 39, ../scss/signup.scss */
.signup-input-check-error {
  display: none;
  margin-left: 2px;
  color: #d00;
}

/* line 45, ../scss/signup.scss */
.heya-signup-tip {
  text-indent: 3px;
  color: #777;
}

/* line 50, ../scss/signup.scss */
.heya-signup-tip-error {
  color: red;
}

/* line 54, ../scss/signup.scss */
.heya-signup-tip-hidden {
  opacity: 0;
}

/* line 58, ../scss/signup.scss */
.inputbox-error {
  box-shadow: 0 0 1px 1px red;
}
