body {

}

.fixed-top {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1024;
}

.top-inner {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #1990d5;
  min-height: 36px;
  background: #474077;
}

.top-container {
  width: 850px;
  margin: 0 auto;
  height: 36px;
  background: #489152;
}

a.logo {
  float:left;
  font-family: 'Telex', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 6px 12px 6px;
}

ul.user-nav {
  float:right;
  padding: 0;
  margin: 0 3px;
}

.user-nav > li {
  float:left;
  list-style: none;
}

.user-nav > li > a {
  display: block;
  color: #ffffe9;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  margin: 3px 2px;
  border: 1px solid transparent;
  padding: 0 12px 0;
}

.user-nav > li > a:hover {
  background: #366C3E;
  border-radius: 5px;
  border: 1px solid #489152;
}