@import "common";
@import "navbar";

$main-width: 1250px;
$top-reserve-height: 55px;
$home-profile-container-width: 230px;
$home-profile-container-height: 250px;
$cover-img-height: 100px;
$profile-img-size: 100px;
$profile-img-border-size: 3px;

body {
  background-color: #f9fffa;
}

.heya-navbar-container {
  width: $main-width;
}

.home-main-container {
  position: relative;
  width: $main-width;
  top: 55px;
  height: 600px;
  margin: 0 auto;
}

.home-left-bar {
  position: fixed;
  top: 55px;
}

.home-profile-container {
  width: $home-profile-container-width;
  height: $home-profile-container-height;
  margin: 5px;
  background-color: #f9f9f9;
}

.cover-img {
  height: $cover-img-height;
}

.profile-img-container {
  position: absolute;
  left: ($home-profile-container-width - $profile-img-size) / 2;
  top: $cover-img-height - $profile-img-size / 2 ;
  display: inline-block;
  width: $profile-img-size;
  height: $profile-img-size;
  border-radius: 50%;
  border: solid $profile-img-border-size white;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-color: white;
}

.profile-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.username-container {
  position: absolute;
  top: $cover-img-height + $profile-img-size / 2;
  width: $home-profile-container-width;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 550;
  color: #333;
  margin: 0;
  padding: 0;
}

.follower-container {
  position: absolute;
  top: $cover-img-height + $profile-img-size / 2 + 35px;
  width: $home-profile-container-width;
  height: 60px;
  color: #555;
  padding: 0 40px;
}

.follower {
  display: inline-block;
  vertical-align: middle;
  width: $home-profile-container-width / 2 - 45px;
  margin-top: 2px;
  font-size: 13px;
  padding-left: 2px;
}

.follower .follower-title {
  text-align: center;
  color: #666;
}

.follower .follower-num {
  text-align: center;
  color: #222;
  font-weight: 520;
}

.follower-split-line {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 38px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  background-color: #ccc;
}

.home-profile-detail-container {
  width: $home-profile-container-width;
  margin: 20px 5px 5px 5px;
  padding: 10px 0;
  background-color: #f9f9f9;
}

.profile-card-title {
  margin: 3px 10px 10px 15px;
  font-size: 14px;
  font-weight: 550;
}

.profile-edit-button {
  font-weight: 450;
  font-size: 12px;
  text-decoration: none;
}

.user-profile-item {
  margin: 3px 0px 3px 15px;
  padding: 0;
}

.user-profile-icon {
  vertical-align: middle;
  margin-right: 8px;
  color: #888;
}

.user-education-icon {
  display: inline-block;
  margin-left: -3px;
  margin-right: 4px;
}

.user-hometown-icon {
  margin-left: 2px;
  margin-right: 11px;
}

.user-profile-detail {
  display: inline-block;
  vertical-align: middle;
  width: 175px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  color: #222;
  font-size: 13px;
  font-family: arial;
}

.user-profile-link {
  color: #2a84e4;
}
