@import "common";

$navbar-height: 35px;
$navbar-bgcolor: #227535;
$main-width: 960px;

.heya-navbar {
  background-color: $navbar-bgcolor;
  padding: 0;
}

.heya-navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: $navbar-height;
  line-height: $navbar-height;
  color: #ddd;
  text-decoration: none;
  font-size: 21px;
  padding: 0 2px;
  margin-top: -1px;

  &:hover {
    color: white;
  }

  &:hover .heya-logo {
    color: white;
  }  
}

.heya-logo {
  color: #ddd;
  font-size: 17px;
}

.heya-navbar-container {
  margin: 0 auto;
  width: $main-width;
  padding: 7px;
}

.heya-navbar-btn {
  height: $navbar-height - 4px;
  font-size: 14px;
  padding: 4px 12px;
  background-color: $navbar-bgcolor;
  border-color: transparent;
  color: #ddd;

  &:hover {
    background-color: #145a24;
    border-color: transparent;
  };
}

.heya-navbar-search {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.input-group .heya-search-box {
  width: 280px;
  height: $navbar-height - 4px;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  border-right: 0px;
  background-color: #f5f5f5;
}

.input-group .heya-search-box:focus {
  border-color: #ced4da;
  background-color: #white;
}

.input-group .heya-search-btn {
  height: $navbar-height - 4px;
  background-color: #f5f5f5;
  border: 1px solid #ced4da;
  border-left: none;
  padding: 0 12px;

  &:hover {
    color: #777777;
    background-color: #e5e5e5;
    border: 1px solid #ced4da;
    border-left: none;
  };
}

.signup-form {
  float: right;
}
