@import "common";
@import "navbar";

$border-color: #ccc;

body {
  background-color: #ececec;
}

.profile-main-container {
  margin: 65px auto 0;
  width: $main-width;
  height: auto;
}

.profile-container {
  display: flex;
  flex-direction: column;

  width: 750px;
  border: 1px solid $border-color;
}

.overall-title {
  height: 44px;
  background-color: #ddd;
  padding: 12px 0 10px 12px;

  line-height: 20px;
  font-size: 18px;
}

.overall-title > .profile-icon {
  color: #666;
  margin-right: 5px
}

.profile-view-container {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.profile-menu {
  width: 170px;
  border-right: 1px solid $border-color;

  ul {
    margin: 10px 0 10px 0;
    list-style: none;

    li {
      height: 40px;
      padding-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 40px;
      color: gray;
      font-size: 15px;

      &:hover {
        background-color: #ddd;
        cursor: pointer;
        color: #333;
      }
    }

    li.item-selected {
      background-color: #ddd;
      cursor: pointer;
      color: #333;
    }
  }
}

.profile-panel {
  flex-grow: 1;

  div.subpanel {
    display: none;

    div.profile-info-display {
      display: none;
      position: relative;

      .profile-info {
        position: relative;;
        margin-left: 50px;
        min-height: 40px;

        a.profile-name {
          margin: 0;
          font-size: 17px;
          font-weight: 550;
          font-family: "Calibri";
          color: #1a0c67;
        }

        p.profile-detail {
          margin: 0;
          font-size: 12px;
          color: #333;
        }
      }

      .profile-icon {
        position: absolute;
        left: 0;
        top: 1px;
        font-size: 30px;
        color: #bcb9ca;
      }

      .corner-buttons {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 10px;

        .profile-edit-button, .profile-delete-button {
          margin-left: 3px;
          color: #8b85a9;

          &:hover {
            cursor: pointer;
            color: #23185a;
          }
        }
      }
    } /* profile-info-display */

    div.profile-info-edit {
      display: none;

      div.form-group {
        margin: 0 0 15px 0;
      }

      label.profile-edit-label {
        margin: 0 5px 0 0;
        text-align: right;
        width: 45px;
        color: #444;
        font-size: 15px;
      }

      input.profile-edit-input {
        display: inline-block;
        width: 300px;
        height: 30px;
        padding: 0 7px;
        background-color: #f7f7f7;
        font-size: 13px;

        &:focus {
          background-color: #fcfcfc;
        };
      }

      select.profile-edit-select {
        display: inline-block;
        width: 70px;
        height: 30px;
        padding-left: 7px;
        background-color: #f7f7f7;
        font-size: 13px;
        box-shadow: none;
        vertical-align: middle;

        &:focus {
          background-color: #fcfcfc;
        };
      }

      div.button-box {
        position: relative;
        left: 180px;
        margin: 10px 0 10px 0;

        button.save-btn {
          height: 25px;
          padding: 0 10px;
          font-size: 13px;
        }

        button.cancel-btn {
          height: 26px;
          padding: 0 10px;
          font-size: 13px;
          border-color: #bbb;
        }
      }

      .update-error-msg {
        display: inline-block;
        position: relative;
        left: 185px;
        width: auto;
        margin: 0;
        margin-bottom: 16px;
        padding: 5px 9px;
        font-size: 14px;
      }
    }  /* profile-info-edit */

    div.profile-info-box {
      border-bottom: 1px solid #d5d5d5;
      padding-bottom: 10px;
      margin-bottom: 13px;
    }  /* profile-info-box */

    div.add-item-button {
      display: inline-block;
      margin-bottom: 15px;

      color: #2d2d8e;

      .add-item-icon {
        margin-right: 1px;
        vertical-align: middle;
      }

      span.add-item-text {
        font-size: 13px;
        vertical-align: middle;
      }

      &:hover {
        cursor: pointer;
        color: #18184e;
      };
    }  /* add-item-button */
  }  /* subpanel */

  div.profile-basic-panel {
    padding: 15px 25px 0 25px;

    ul.basic-info-display {
      display: block;
      margin: 0;
      list-style: none;

      li {
        height: 35px;
        line-height: 35px;

        .basic-info-icon {
          color : #aaa;
          margin-right: 10px;
        }

        .icon-phone {
          margin-left: 2px;
          margin-right: 14px;
        }

        .icon-birth {
          margin-left: 1px;
          margin-right: 11px;
        }

        span {
          font-size: 14px;
          color: #333;
        }
      }

      .edit-button {
        margin: 7px 0 0 1px;
        width: 150px;
        color: #5e5590;
        font-size: 13px;

        &:hover {
          cursor: pointer;
          color: #291b79;
          text-decoration: underline;
        };
      }
    }

    div.basic-info-edit {
      display: none;
      font-size: 14px;

      .button-box {
        margin-left: 195px;
      }
    }
  }  /* profile-basic-panel */

  div.profile-education-panel {
    padding: 20px 25px 0 25px;

    div.profile-info-edit {
      div.form-group {
        margin: 0 0 5px 0;
      }

      div.edit-year {
        margin-top: -2px;
        margin-bottom: 8px;

        .profile-edit-select {
          width: 65px;
          height: 25px;
          margin: 0;
          padding: 0 0 0 5px;
        }

        .year-to {
          margin: 0 5px 0 5px;
          font-size: 12px;
        }
      }

      label.profile-edit-label {
        width: 50px;
      }

      div.button-box {
        left: 185px;
      }
    }
  } /* profile-education-panel */

  div.profile-work-panel {
    padding: 20px 25px 0 25px;

    div.profile-info-display {
      .profile-icon {
        top: 5px;
      }

      .profile-icon {
        font-size: 28px;
      }
    }

    div.profile-info-edit {
      div.form-group {
        margin: 0 0 5px 0;
      }

      div.edit-year {
        margin-top: -2px;
        margin-bottom: 8px;

        .profile-edit-select {
          width: 65px;
          height: 25px;
          margin: 0;
          padding: 0 0 0 5px;
        }

        .year-to {
          margin: 0 5px 0 5px;
          font-size: 12px;
        }
      }

      label.profile-edit-label {
        width: 75px;
      }

      div.button-box {
        left: 210px;
      }
    }
  } /* profile-work-panel */
  
  div.profile-places-panel {
    padding: 20px 25px 0 25px;

    .critical-place-title {
      padding-bottom: 5px;
      margin-bottom: 12px;
      border-bottom: 1px solid #d5d5d5;
      color: gray;
    }

    div.add-item-button {
      margin-bottom: 5px;
      margin-left: 5px;
    }

    div.profile-info-box {
      padding-bottom: 8px;
      margin-bottom: 12px;
    }  /* profile-info-box */

    div.profile-info-display {
      .profile-info {
        p.profile-detail {
          margin: 0;
          font-size: 12px;
          color: #777;
        }
      }
    }

    div.current-live {
      div.profile-info-display {
        .profile-info {
          position: relative;;
          margin-left: 40px;
          min-height: 34px;
        }

        .profile-icon {
          top: 3px;
          left: 4px;
          font-size: 30px;
        }
      }
    }

    div.hometown {
      div.profile-info-display {
        .profile-info {
          position: relative;;
          margin-left: 41px;
          min-height: 35px;
        }

        .profile-icon {
          top: 3px;
          left: 1px;
          font-size: 27px;
        }
      }
    }

    div.profile-info-edit {
      div.form-group {
        margin: 0 0 5px 0;
      }

      label.profile-edit-label {
        width: 45px;
      }
    }
  } /* profile-places-panel */


}  /* profile-panel */
