/* line 1, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/common.scss */
input:focus, button:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

/* line 1, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/common.scss */
input:focus, button:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

/* line 7, ../scss/navbar.scss */
.heya-navbar {
  background-color: #227535;
  padding: 0;
}

/* line 12, ../scss/navbar.scss */
.heya-navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  color: #ddd;
  text-decoration: none;
  font-size: 21px;
  padding: 0 2px;
  margin-top: -1px;
}
/* line 23, ../scss/navbar.scss */
.heya-navbar-brand:hover {
  color: white;
}
/* line 27, ../scss/navbar.scss */
.heya-navbar-brand:hover .heya-logo {
  color: white;
}

/* line 32, ../scss/navbar.scss */
.heya-logo {
  color: #ddd;
  font-size: 17px;
}

/* line 37, ../scss/navbar.scss */
.heya-navbar-container {
  margin: 0 auto;
  width: 960px;
  padding: 7px;
}

/* line 43, ../scss/navbar.scss */
.heya-navbar-btn {
  height: 31px;
  font-size: 14px;
  padding: 4px 12px;
  background-color: #227535;
  border-color: transparent;
  color: #ddd;
}
/* line 51, ../scss/navbar.scss */
.heya-navbar-btn:hover {
  background-color: #145a24;
  border-color: transparent;
}

/* line 57, ../scss/navbar.scss */
.heya-navbar-search {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 63, ../scss/navbar.scss */
.input-group .heya-search-box {
  width: 280px;
  height: 31px;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  border-right: 0px;
  background-color: #f5f5f5;
}

/* line 73, ../scss/navbar.scss */
.input-group .heya-search-box:focus {
  border-color: #ced4da;
  background-color: #white;
}

/* line 78, ../scss/navbar.scss */
.input-group .heya-search-btn {
  height: 31px;
  background-color: #f5f5f5;
  border: 1px solid #ced4da;
  border-left: none;
  padding: 0 12px;
}
/* line 85, ../scss/navbar.scss */
.input-group .heya-search-btn:hover {
  color: #777777;
  background-color: #e5e5e5;
  border: 1px solid #ced4da;
  border-left: none;
}

/* line 93, ../scss/navbar.scss */
.signup-form {
  float: right;
}

/* line 6, ../scss/profile.scss */
body {
  background-color: #ececec;
}

/* line 10, ../scss/profile.scss */
.profile-main-container {
  margin: 65px auto 0;
  width: 960px;
  height: auto;
}

/* line 16, ../scss/profile.scss */
.profile-container {
  display: flex;
  flex-direction: column;
  width: 750px;
  border: 1px solid #ccc;
}

/* line 24, ../scss/profile.scss */
.overall-title {
  height: 44px;
  background-color: #ddd;
  padding: 12px 0 10px 12px;
  line-height: 20px;
  font-size: 18px;
}

/* line 33, ../scss/profile.scss */
.overall-title > .profile-icon {
  color: #666;
  margin-right: 5px;
}

/* line 38, ../scss/profile.scss */
.profile-view-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

/* line 45, ../scss/profile.scss */
.profile-menu {
  width: 170px;
  border-right: 1px solid #ccc;
}
/* line 49, ../scss/profile.scss */
.profile-menu ul {
  margin: 10px 0 10px 0;
  list-style: none;
}
/* line 53, ../scss/profile.scss */
.profile-menu ul li {
  height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 40px;
  color: gray;
  font-size: 15px;
}
/* line 62, ../scss/profile.scss */
.profile-menu ul li:hover {
  background-color: #ddd;
  cursor: pointer;
  color: #333;
}
/* line 69, ../scss/profile.scss */
.profile-menu ul li.item-selected {
  background-color: #ddd;
  cursor: pointer;
  color: #333;
}

/* line 77, ../scss/profile.scss */
.profile-panel {
  flex-grow: 1;
  /* subpanel */
  /* profile-basic-panel */
  /* profile-education-panel */
  /* profile-work-panel */
  /* profile-places-panel */
}
/* line 80, ../scss/profile.scss */
.profile-panel div.subpanel {
  display: none;
  /* profile-info-display */
  /* profile-info-edit */
  /* profile-info-box */
  /* add-item-button */
}
/* line 83, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-display {
  display: none;
  position: relative;
}
/* line 87, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-display .profile-info {
  position: relative;
  margin-left: 50px;
  min-height: 40px;
}
/* line 92, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-display .profile-info a.profile-name {
  margin: 0;
  font-size: 17px;
  font-weight: 550;
  font-family: "Calibri";
  color: #1a0c67;
}
/* line 100, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-display .profile-info p.profile-detail {
  margin: 0;
  font-size: 12px;
  color: #333;
}
/* line 107, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-display .profile-icon {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 30px;
  color: #bcb9ca;
}
/* line 115, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-display .corner-buttons {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
}
/* line 121, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-display .corner-buttons .profile-edit-button, .profile-panel div.subpanel div.profile-info-display .corner-buttons .profile-delete-button {
  margin-left: 3px;
  color: #8b85a9;
}
/* line 125, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-display .corner-buttons .profile-edit-button:hover, .profile-panel div.subpanel div.profile-info-display .corner-buttons .profile-delete-button:hover {
  cursor: pointer;
  color: #23185a;
}
/* line 133, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit {
  display: none;
}
/* line 136, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit div.form-group {
  margin: 0 0 15px 0;
}
/* line 140, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit label.profile-edit-label {
  margin: 0 5px 0 0;
  text-align: right;
  width: 45px;
  color: #444;
  font-size: 15px;
}
/* line 148, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit input.profile-edit-input {
  display: inline-block;
  width: 300px;
  height: 30px;
  padding: 0 7px;
  background-color: #f7f7f7;
  font-size: 13px;
}
/* line 156, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit input.profile-edit-input:focus {
  background-color: #fcfcfc;
}
/* line 161, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit select.profile-edit-select {
  display: inline-block;
  width: 70px;
  height: 30px;
  padding-left: 7px;
  background-color: #f7f7f7;
  font-size: 13px;
  box-shadow: none;
  vertical-align: middle;
}
/* line 171, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit select.profile-edit-select:focus {
  background-color: #fcfcfc;
}
/* line 176, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit div.button-box {
  position: relative;
  left: 180px;
  margin: 10px 0 10px 0;
}
/* line 181, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit div.button-box button.save-btn {
  height: 25px;
  padding: 0 10px;
  font-size: 13px;
}
/* line 187, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit div.button-box button.cancel-btn {
  height: 26px;
  padding: 0 10px;
  font-size: 13px;
  border-color: #bbb;
}
/* line 195, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-edit .update-error-msg {
  display: inline-block;
  position: relative;
  left: 185px;
  width: auto;
  margin: 0;
  margin-bottom: 16px;
  padding: 5px 9px;
  font-size: 14px;
}
/* line 207, ../scss/profile.scss */
.profile-panel div.subpanel div.profile-info-box {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px;
  margin-bottom: 13px;
}
/* line 213, ../scss/profile.scss */
.profile-panel div.subpanel div.add-item-button {
  display: inline-block;
  margin-bottom: 15px;
  color: #2d2d8e;
}
/* line 219, ../scss/profile.scss */
.profile-panel div.subpanel div.add-item-button .add-item-icon {
  margin-right: 1px;
  vertical-align: middle;
}
/* line 224, ../scss/profile.scss */
.profile-panel div.subpanel div.add-item-button span.add-item-text {
  font-size: 13px;
  vertical-align: middle;
}
/* line 229, ../scss/profile.scss */
.profile-panel div.subpanel div.add-item-button:hover {
  cursor: pointer;
  color: #18184e;
}
/* line 236, ../scss/profile.scss */
.profile-panel div.profile-basic-panel {
  padding: 15px 25px 0 25px;
}
/* line 239, ../scss/profile.scss */
.profile-panel div.profile-basic-panel ul.basic-info-display {
  display: block;
  margin: 0;
  list-style: none;
}
/* line 244, ../scss/profile.scss */
.profile-panel div.profile-basic-panel ul.basic-info-display li {
  height: 35px;
  line-height: 35px;
}
/* line 248, ../scss/profile.scss */
.profile-panel div.profile-basic-panel ul.basic-info-display li .basic-info-icon {
  color: #aaa;
  margin-right: 10px;
}
/* line 253, ../scss/profile.scss */
.profile-panel div.profile-basic-panel ul.basic-info-display li .icon-phone {
  margin-left: 2px;
  margin-right: 14px;
}
/* line 258, ../scss/profile.scss */
.profile-panel div.profile-basic-panel ul.basic-info-display li .icon-birth {
  margin-left: 1px;
  margin-right: 11px;
}
/* line 263, ../scss/profile.scss */
.profile-panel div.profile-basic-panel ul.basic-info-display li span {
  font-size: 14px;
  color: #333;
}
/* line 269, ../scss/profile.scss */
.profile-panel div.profile-basic-panel ul.basic-info-display .edit-button {
  margin: 7px 0 0 1px;
  width: 150px;
  color: #5e5590;
  font-size: 13px;
}
/* line 275, ../scss/profile.scss */
.profile-panel div.profile-basic-panel ul.basic-info-display .edit-button:hover {
  cursor: pointer;
  color: #291b79;
  text-decoration: underline;
}
/* line 283, ../scss/profile.scss */
.profile-panel div.profile-basic-panel div.basic-info-edit {
  display: none;
  font-size: 14px;
}
/* line 287, ../scss/profile.scss */
.profile-panel div.profile-basic-panel div.basic-info-edit .button-box {
  margin-left: 195px;
}
/* line 293, ../scss/profile.scss */
.profile-panel div.profile-education-panel {
  padding: 20px 25px 0 25px;
}
/* line 297, ../scss/profile.scss */
.profile-panel div.profile-education-panel div.profile-info-edit div.form-group {
  margin: 0 0 5px 0;
}
/* line 301, ../scss/profile.scss */
.profile-panel div.profile-education-panel div.profile-info-edit div.edit-year {
  margin-top: -2px;
  margin-bottom: 8px;
}
/* line 305, ../scss/profile.scss */
.profile-panel div.profile-education-panel div.profile-info-edit div.edit-year .profile-edit-select {
  width: 65px;
  height: 25px;
  margin: 0;
  padding: 0 0 0 5px;
}
/* line 312, ../scss/profile.scss */
.profile-panel div.profile-education-panel div.profile-info-edit div.edit-year .year-to {
  margin: 0 5px 0 5px;
  font-size: 12px;
}
/* line 318, ../scss/profile.scss */
.profile-panel div.profile-education-panel div.profile-info-edit label.profile-edit-label {
  width: 50px;
}
/* line 322, ../scss/profile.scss */
.profile-panel div.profile-education-panel div.profile-info-edit div.button-box {
  left: 185px;
}
/* line 328, ../scss/profile.scss */
.profile-panel div.profile-work-panel {
  padding: 20px 25px 0 25px;
}
/* line 332, ../scss/profile.scss */
.profile-panel div.profile-work-panel div.profile-info-display .profile-icon {
  top: 5px;
}
/* line 336, ../scss/profile.scss */
.profile-panel div.profile-work-panel div.profile-info-display .profile-icon {
  font-size: 28px;
}
/* line 342, ../scss/profile.scss */
.profile-panel div.profile-work-panel div.profile-info-edit div.form-group {
  margin: 0 0 5px 0;
}
/* line 346, ../scss/profile.scss */
.profile-panel div.profile-work-panel div.profile-info-edit div.edit-year {
  margin-top: -2px;
  margin-bottom: 8px;
}
/* line 350, ../scss/profile.scss */
.profile-panel div.profile-work-panel div.profile-info-edit div.edit-year .profile-edit-select {
  width: 65px;
  height: 25px;
  margin: 0;
  padding: 0 0 0 5px;
}
/* line 357, ../scss/profile.scss */
.profile-panel div.profile-work-panel div.profile-info-edit div.edit-year .year-to {
  margin: 0 5px 0 5px;
  font-size: 12px;
}
/* line 363, ../scss/profile.scss */
.profile-panel div.profile-work-panel div.profile-info-edit label.profile-edit-label {
  width: 75px;
}
/* line 367, ../scss/profile.scss */
.profile-panel div.profile-work-panel div.profile-info-edit div.button-box {
  left: 210px;
}
/* line 373, ../scss/profile.scss */
.profile-panel div.profile-places-panel {
  padding: 20px 25px 0 25px;
  /* profile-info-box */
}
/* line 376, ../scss/profile.scss */
.profile-panel div.profile-places-panel .critical-place-title {
  padding-bottom: 5px;
  margin-bottom: 12px;
  border-bottom: 1px solid #d5d5d5;
  color: gray;
}
/* line 383, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.add-item-button {
  margin-bottom: 5px;
  margin-left: 5px;
}
/* line 388, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.profile-info-box {
  padding-bottom: 8px;
  margin-bottom: 12px;
}
/* line 395, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.profile-info-display .profile-info p.profile-detail {
  margin: 0;
  font-size: 12px;
  color: #777;
}
/* line 405, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.current-live div.profile-info-display .profile-info {
  position: relative;
  margin-left: 40px;
  min-height: 34px;
}
/* line 411, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.current-live div.profile-info-display .profile-icon {
  top: 3px;
  left: 4px;
  font-size: 30px;
}
/* line 421, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.hometown div.profile-info-display .profile-info {
  position: relative;
  margin-left: 41px;
  min-height: 35px;
}
/* line 427, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.hometown div.profile-info-display .profile-icon {
  top: 3px;
  left: 1px;
  font-size: 27px;
}
/* line 436, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.profile-info-edit div.form-group {
  margin: 0 0 5px 0;
}
/* line 440, ../scss/profile.scss */
.profile-panel div.profile-places-panel div.profile-info-edit label.profile-edit-label {
  width: 45px;
}

/* profile-panel */
