/* line 1, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/common.scss */
input:focus, button:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

/* line 7, ../scss/navbar.scss */
.heya-navbar {
  background-color: #227535;
  padding: 0;
}

/* line 12, ../scss/navbar.scss */
.heya-navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  color: #ddd;
  text-decoration: none;
  font-size: 21px;
  padding: 0 2px;
  margin-top: -1px;
}
/* line 23, ../scss/navbar.scss */
.heya-navbar-brand:hover {
  color: white;
}
/* line 27, ../scss/navbar.scss */
.heya-navbar-brand:hover .heya-logo {
  color: white;
}

/* line 32, ../scss/navbar.scss */
.heya-logo {
  color: #ddd;
  font-size: 17px;
}

/* line 37, ../scss/navbar.scss */
.heya-navbar-container {
  margin: 0 auto;
  width: 960px;
  padding: 7px;
}

/* line 43, ../scss/navbar.scss */
.heya-navbar-btn {
  height: 31px;
  font-size: 14px;
  padding: 4px 12px;
  background-color: #227535;
  border-color: transparent;
  color: #ddd;
}
/* line 51, ../scss/navbar.scss */
.heya-navbar-btn:hover {
  background-color: #145a24;
  border-color: transparent;
}

/* line 57, ../scss/navbar.scss */
.heya-navbar-search {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 63, ../scss/navbar.scss */
.input-group .heya-search-box {
  width: 300px;
  height: 31px;
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  border-right: 0px;
}

/* line 72, ../scss/navbar.scss */
.heya-search-box:focus {
  border-color: #ced4da;
}

/* line 76, ../scss/navbar.scss */
.heya-search-btn {
  height: 31px;
  background-color: white;
  border: 1px solid #ced4da;
  border-left: none;
  padding: 0 12px;
}
/* line 83, ../scss/navbar.scss */
.heya-search-btn:hover {
  color: #777777;
  background-color: #f3f3f3;
  border: 1px solid #ced4da;
  border-left: none;
}

/* line 91, ../scss/navbar.scss */
.signup-form {
  float: right;
}

/* line 3, ../scss/signup.scss */
body {
  background-color: #ececec;
}

/* line 7, ../scss/signup.scss */
.signup-page-main-container {
  margin: 65px auto 0;
  width: 960px;
  height: auto;
}

/* line 13, ../scss/signup.scss */
.signup-container {
  width: 550px;
  padding: 15px;
  background-color: #e2e2e2;
  border-radius: 5px;
  border: 1px solid transparent;
}

/* line 21, ../scss/signup.scss */
.heya-signup-input {
  display: inline-block;
  width: 450px;
  background-color: #fdfdfd;
}

/* line 27, ../scss/signup.scss */
.signup-input-check {
  display: none;
  margin-left: 2px;
  color: green;
}

/* line 33, ../scss/signup.scss */
.signup-input-check-error {
  display: none;
  margin-left: 2px;
  color: #d00;
}

/* line 39, ../scss/signup.scss */
.heya-signup-tip {
  text-indent: 3px;
  color: #777;
}

/* line 44, ../scss/signup.scss */
.heya-signup-tip-error {
  color: red;
}

/* line 48, ../scss/signup.scss */
.heya-signup-tip-hidden {
  opacity: 0;
}

/* line 52, ../scss/signup.scss */
.inputbox-error {
  box-shadow: 0 0 1px 1px red;
}

/* line 56, ../scss/signup.scss */
.signup-btn {
  display: inline-block;
}

/* line 60, ../scss/signup.scss */
.success-info-container {
  display: none;
  font-size: 18px;
}

/* line 65, ../scss/signup.scss */
.new-user-smile {
  color: green;
  font-size: 22px;
}

/* line 70, ../scss/signup.scss */
.remain-time {
  color: green;
}

/* line 74, ../scss/signup.scss */
.home-link {
  text-decoration: underline;
  color: green;
}

/* line 79, ../scss/signup.scss */
.submit-error-msg-container {
  display: inline-block;
  vertical-align: top;
  padding: 6px;
  margin-left: 15px;
  height: 38px;
  line-height: 24px;
  color: red;
  font-size: 14px;
}
