@import "~heya/home/css/common.scss";

div.chat-top-container {
  width: 0;
  height: 0;

  div.chat-panel-container {
    position: fixed;
    right: 0;
    top: 55px;

    margin-bottom: 10px;
    background-color: #fafafa;

    width: 200px;
    height: 90%;

    div.search-box {
      button {
        height: 35px;
        padding: 0 2px 3px 9px;
        border-right: 0px;
        border-color: transparent;
        background-color: #fefefe;

        cursor: default;

        i {
          font-size: 13px;
        }

        &:hover {
          color: #777777;
          background-color: #fefefe;
        };
      }

      input {
        padding: 3px 5px;
        border-left: 0px;
        border-color: transparent;
        font-size: 13px;

        &:focus {
          background-color: white;
        }
      }
    }

    div.chat-list-entry {
      position: relative;
      width: 100%;
      height: 46px;

      padding: 9px 0 0 50px;

      cursor: pointer;

      img.friend-profile-img {
        position: absolute;
        left: 10px;
        top: 7px;
        height: 32px;
        width: 32px;

        border-radius: 50%;
        object-fit: cover;
      }

      span.has-unread-notifier {
        position: absolute;
        left: 8px;
        top: 6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: red;
      }

      div.friend-name {
        span {
          color: #777;
          font-size: 13px;
        }
      }

      div.status {
        position: absolute;
        top: 10px;
        right: 10px;

        i {
          color: #e3e3e3;
          font-size: 8px;
        }

        i.online-dot {
          color: #64d064;
        }
      }

      &:hover {
        background-color: #eee;
      }
    }
  }

  div.chat-dialogs-container {
    position: fixed;
    bottom: 0;
    right: 200px;

    display: flex;
    flex-flow: row;
    align-items: flex-end;

    div.chat-dialog-box {
      width: 220px;
      margin-right: 5px;

      background-color: #e9e9e9;
      /*box-shadow: 0px 0px 3px 1px rgba(180, 180, 180, .2);*/

      div.dialog-box-header {
        position: relative;
        padding: 3px 8px;
        height: 30px;

        background-color: #333;
        color: white;

        i.chat-icon {
        }

        span.title {
          font-size: 13px;
        }

        div.button-box {
          position: absolute;
          right: 0;
          display: inline;
          padding: 3px 6px;

          span {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;

            i {
              color: #aaa;
            }

            i.minimize-button {
              position: absolute;
              top: 4px;
              left: 6px;
              font-size: 7px;
            }

            i.close-button {
              position: absolute;
              top: 3px;
              left: 5px;
              font-size: 12px;
            }

            &:hover {
              background-color: #444;
              cursor: pointer;

              i {
                color: #fff;
              }
            }
          }
        }
      }

      div.has-unread-header {
        background-color: green;

        div.button-box {
          span {
            &:hover {
              background-color: darkgreen;
              border-color: darkgreen;
            }
          }
        }
      }

      div.dialog-box-body {
        display: flex;
        flex-direction: column;
        height: 250px;

        div.messages-box {
          flex-grow: 1;
          overflow: scroll;
          overflow-x: hidden;
          max-height: 220px;
          padding: 5px 0;

          div.chat-bubble-left {
            display: flex;
            align-items: flex-start;

            padding: 10px;

            img.bubble-avatar {
              height: 27px;
              width: 27px;

              border-radius: 50%;
              object-fit: cover;
            }

            div.message-box {
              position: relative;
              margin-left: 7px;
              border-radius: 5px;
              border-top-left-radius: 0;
              background-color: #fcfcfc;
              word-wrap: break-word;
              word-break: break-all;

              p {
                max-width: 150px;
                margin: 0;
                padding: 3px 9px;
                font-size: 14px;
                font-family: arial;
              }

              div.small-triangle {
                position: absolute;
                top: 0;
                left: -5px;
                width: 0px;
                height: 0px;
                border-top: 3px solid #fcfcfc;
                border-bottom: 3px solid transparent;
                border-left: 3px solid transparent;
                border-right: 3px solid #fcfcfc;
              }
            }
          }

          div.chat-bubble-right {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            padding: 10px;

            img.bubble-avatar {
              height: 27px;
              width: 27px;

              border-radius: 50%;
              object-fit: cover;
            }

            div.message-box {
              position: relative;
              margin-right: 7px;
              border-radius: 5px;
              border-top-right-radius: 0;
              background-color: #fcfcfc;
              word-wrap: break-word;
              word-break: break-all;

              p {
                max-width: 150px;
                margin: 0;
                padding: 3px 9px;
                font-size: 14px;
                font-family: arial;
              }

              div.small-triangle {
                position: absolute;
                top: 0;
                right: -5px;
                width: 0px;
                height: 0px;
                border-top: 3px solid #fcfcfc;
                border-bottom: 3px solid transparent;
                border-right: 3px solid transparent;
                border-left: 3px solid #fcfcfc;
              }
            }
          }
        }

        div.input-box {
          margin: 2px;
          height: auto;
          flex-shrink: 0;  /* Do not shrink */

          button.emoji-button {
            width: 28px;
            height: 30px;
            padding-right: 0px;
            padding-left: 2px;
            border-right: 0px;
            border-color: transparent;

            background-color: #fefefe;

            i {
              &:hover {
                cursor: pointer;
                color: #a98109;
              }
            }
          }

          textarea.dialog-text-area {
            height: 30px;
            width: 190px;
            resize: none;
            padding: 5px 7px 5px 5px;
            font-size: 13px;
            border: 0px;
            overflow: hidden;

            &:focus {
              outline: none !important;
            };
          }
        }
      }
    }
  }
}
