@import "~heya/home/css/common.scss";
@import "~heya/home/css/left.scss";

body {
  background-color: #f9fffa;
}

.home-main-container {
  position: relative;
  width: $main-width;
  top: 55px;
  height: 600px;
  margin: 0 auto;
}

.home-left-bar {
  position: fixed;
}

.post-main-container {
  position: relative;
  left: $home-profile-container-width + 25px;
  width: $post-area-width;
  padding: 5px 0;
}
