@import "~heya/home/css/common.scss";

div.image-clipboard {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  margin-right: 5px;

  border: 2px dashed #e0e0e0;
  border-radius: 3px;

  label.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;

    i {
      color: #ddd;
      font-size: 17px;
    }

    input {
      display: none;
    }

    &:hover {
      cursor: pointer;
    };
  }

  div.preivew-image-container {
    position: relative;
    width: 100%;
    height: 100%;

    img.image-preview {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    i.delete-button {
      display: none;
      position: absolute;
      top: -3px;
      right: -3px;
      color: #e01d1d;
      background-color: white;
      border-radius: 50%;
      font-size: 14px;
      cursor: pointer;
    }

    &:hover {
      i.delete-button {
        display: block;
      }
    };
  }
}
