@import "~heya/home/css/common.scss";

$top-reserve-height: 55px;
$home-profile-container-width: 230px;
$home-profile-container-height: 250px;
$cover-img-height: 100px;
$profile-img-size: 100px;
$profile-img-border-size: 3px;
