@import "~heya/home/css/common.scss";

::placeholder {
  color: #bbb;
}

div.poster-container {
  padding: 10px;
  margin-bottom: $card-gap-width;
  background-color: #fcfcfc;

  div.poster-header {
    position: relative;
    margin-bottom: 6px;

    i {
      position: absolute;
      left: 2px;
      top: 5px;
      color: darkblue;
    }

    span {
      position: relative;
      left: 22px;
      font-size: 13px;
    }
  }

  textarea.poster-text-area {
    height: 70px;
    resize: none;
    margin-bottom: 10px;
    padding: 5px 7px;
    font-size: 14px;


    border: 1px solid #f0f0f0;
    border-radius: 1px;

    &:focus {
      border: 1px solid #e5e5e5;
      outline: none !important;
    };
  }

  div.editors-container {
    margin-bottom: 10px;

    div.editor-panel {
    }

    div.image-editor-panel {
      display: flex;
    }
  }

  div.bottom-container {
    position: relative;

    .post-button {
      position: absolute;
      right: 0px;
      width: 70px;
      height: 25px;
      padding: 0;

      font-size: 14px;
      color: white;
    }

    .edit-button {
      width: 70px;
      height: 26px;
      padding: 0;

      font-size: 14px;
      color: #333;
      background-color: #fcfcfc;

      i {
        color: #4242a0;
      }

      &:hover {
        background-color: #e0e0e0;
      };
    }

    .edit-button-selected {
      background-color: #e0e0e0;
    }
  }

  div.cover-layer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.1);
  }
}
