.login-container {
  width: 350px;
  padding: 15px;
  background-color: #e2e2e2;
  border-radius: 5px;
  border: 1px solid transparent;

  form {
    position: relative;
  }
}

.password-icon {
  width: 42px;
}

.login-title {
  margin-bottom: 15px;
  color: #065a19;
}

.login-btn {
  margin-top: 1px;
  width: 318px;
}

.login-check-label {
  color: #555;
  font-size: 13px;
}

.login-checkbox {
  width: 12px;
  height: 12px;
  margin-left: -17px;
}

.inputbox-error {
  box-shadow: 0 0 1px 1px red;
}

.login-error-msg {
  position: absolute;
  left: 150px;
  top: 2px;
  white-space: nowrap;
  margin: 0;
  padding: 5px 9px;
  font-size: 14px;
  border: none;
}
